@rendermode InteractiveServer
@inject KandidaatService kandidaatService;

<select class="form-select" @onchange="HandleSelection">
	@foreach(var kandidaat in Kandidaten)
	{
	<option value="@kandidaat.Id">
		@kandidaat.Name
	</option>
	}
	
</select>





@code {

	[Parameter]
	public EventCallback<int> KanditaatSelected{ get; set; }


	List<Kandidaat> Kandidaten => kandidaatService.GetAllKandidaten();


	async Task HandleSelection(ChangeEventArgs e)
	{
		if (int.TryParse(e?.Value?.ToString(), out int selectedId))
		{
			await KanditaatSelected.InvokeAsync(selectedId);
		}
	}
}
