@rendermode InteractiveServer
@inject KandidaatService kandidaatService;

<select multiple class="form-select" @onchange="HandleSelection">
	@foreach(var kandidaat in Kandidaten)
	{
	<option value="@kandidaat.Id">
		@kandidaat.Name
	</option>
	}
	
</select>





@code {

	[Parameter]
	public EventCallback<List<int>> KanditaatSelected{ get; set; }


	List<Kandidaat> Kandidaten => kandidaatService.GetAllKandidaten();
	List<int> SelectedKandidaten = new();

	async Task HandleSelection(ChangeEventArgs e)
	{
		SelectedKandidaten = new();
		foreach (var selectedId in e.Value as string[])
		{
			SelectedKandidaten.Add(int.Parse(selectedId));
			await KanditaatSelected.InvokeAsync(SelectedKandidaten);
		}
	
	}
}
